EMAIL_HOST_USER = ... 
EMAIL_HOST_PASSWORD = ...
PAYSTACK_SECRET_KEY =  ...
DB_PASSWORD= ...
FRONTEND_URL = ...
ATTENDANCE_APP_URL = ...
ATTENDANCE_APP_URL_TEST = ...
FRONTEND_URL_TEST = ...
SECRET_KEY= ...
